body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
}

.form-container{
    height: 300px;
    padding: 0 20px 10px 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    width: 250px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
}

form button{
    margin-top: 20px ;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    width: 100px;
    background-color: blueviolet;
    transition: 0.5s;
    color: white;
}

form button:hover{
    cursor: pointer;
    background-color: rgb(94, 24, 160);
}